
h1 {
  margin-left: 15%;
  color: white;
}



#container {

}
#header {
  background-color: #333333;
  height: 200px;
  width: auto;

}

#box1{
  border: 1px solid white;
  width:  20%;
  height: 75%;
  margin-left: 35%;
  margin-top: .5em;
}

#box2 {
  border: 1px solid white;
  width: 75%;
  height: 60%;
  margin-left: 12%;
  margin-top: 7%;
}


body {
  background-color: #e6e6e6;
}

@media only screen and (max-width: 1310px;) {
  h1 {
    margin-top: 2%;
  }

  #box1 {
    width: 50%;
  }

  #box2 {
    height: 65%;
  }
}


@media only screen and (max-width: 900px) {
  #box1{
    border: 1px solid white;
    width:  40%;
    height: 75%;
    margin-left: 35%;
    margin-top: .5em;
  }

  #box2 {
    border: 1px solid white;
    width: 75%;
    height: 60%;
    margin-left: 12%;
    margin-top: 7%;
  }

  h1 {
    margin-top: 2%;
  }

}

@media only screen and (max-width: 540px) {
  #box2 {
    border: 1px solid white;
    width: 75%;
    height: 60%;
    margin-left: 12%;
    margin-top: 15%;
  }

  h1 {
    margin-top: 2%;
  }

}

#footer {
  background-color: #333333;
  margin-top: 50%;
}

#bodySection {
  margin-left: 15%;
  width: 1000px;
}

#Sections {
  margin-left: 13%;
}

#section1 {
  float: left;
  margin-left: 50px;
  width: 400px;
}

#section2 {
  float: left;
  margin-left: 50px;
  width: 400px;
}
